
* {
box-sizing: border-box;
}


.chatsearch {
    display: flex;
    width: 100%;
    padding: 0 20px;
    position: relative;

}

.searchicon {
    color: rgb(174, 172, 172);
    position: absolute;

    font-size: 20px;
    height: 100%;
    left: 33px;

 
}


.inputesearch {

    width: 100%;
    height: 42px;
    padding-left: 40px;
    border-radius: 50px;
    background-color: rgb(49, 47, 47);
    color: whitesmoke;

    border: none;
    font-size: 20px;
}

.inputesearch::placeholder {
    color: rgb(158, 157, 157)
}


.buttonarrowchat {
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
background: rgb(72, 72, 239);
width: 70px;
height: 35px;
position: absolute;
transform: translateX(-75px);
border-radius: 50px;
padding: 5px 0;
border: none;
cursor: pointer;
bottom: 4px;

}




.arrowforinput {

color: whitesmoke;
align-self: center;
font-size: 30px;
}

@media (max-width: 499px) {
    .inputesearch {
        font-size: 15px;
    }
}