.breedte {
    color: red;
}
/** {
  outline: 1px solid rgba(255,0,0,0.2);
}*/

.home-page {
    display: flex;

    flex-direction: row;
    width: 100%;
    height: 90%;
    min-height: 90%;
    padding: 0;
    
}
.verhaalreeks {
     display: flex;
     align-items: start;
    flex-direction: row;
      gap: 0;
    background-color: black;
    overflow-x: auto;
    /*width: calc(100% - 80px);
    margin: 0 40px;*/
     height: 170px;
    /*max-width: 140px;*/
    width: 100%;

      overflow-y: hidden;

  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* oude Edge/IE */
}

.verhaalreeks::-webkit-scrollbar {
  display: none; /* Chrome + Safari */
   


}


.verhaalboxjes {
    display: flex;
    flex-direction: column;
   width: 120px;
    align-items: center;
    padding-top: 10px;
    margin: 0;
}

.verhaalvoegen {
    display: flex;
    position: relative;
    width: 110px;
    height: 110px;
    border: none;
    background-color: black;
    align-items: center;
    justify-content: center;/*plus icon*/
    justify-self: center;
   /* border: 1px solid red;;*/
}

.person-icon-verhaal {

    font-size: 140px;
    color: grey;

}

.pluspuntje-home {
    position: absolute;
    bottom: 5px;
    transform: translateX(85%);
    background-color: grey;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 50%;
    border: 4px solid black;
    align-self: center;
    text-decoration: none;
    color: black;

}
.vogel-pics {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 4px;
    border: 4px solid transparent;
    background:
        linear-gradient(#111, #111) padding-box,
        conic-gradient(
            #ee12e3,
            #ee12e3,
            #fd3503,
            #fae901,
            #fd3503,
            #ee12e3
        ) border-box;

        margin: 0;

}
.names-home {
display: flex;
color: whitesmoke;
/*border: 1px solid red;*/
width: 135px;
height: 35px;
justify-content: center;
align-items: center;


font-size: 13px;
}



@media (max-width: 499px) {

}