.breedte {
    color: red;
}
/** {
  outline: 1px solid rgba(255,0,0,0.2);
}*/

.home-page {
    display: flex;

    flex-direction: column;
    width: 100%;
    height: 90%;
    min-height: 90%;
    padding: 0;
    
}
.verhaalreeks {
     display: flex;
     align-items: start;
    flex-direction: row;
      gap: 0;
    background-color: black;
    border-top: 0.5px solid rgba(255, 255, 255, 0.197);
    overflow-x: auto;
    /*width: calc(100% - 80px);
    margin: 0 40px;*/
     height: 170px;
    /*max-width: 140px;*/
    width: 100%;

      overflow-y: hidden;

  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* oude Edge/IE */
}

.verhaalreeks::-webkit-scrollbar {
  display: none; /* Chrome + Safari */
   


}


.verhaalboxjes {
    display: flex;
    flex-direction: column;
   width: 120px;
    align-items: center;
    padding-top: 1px;
    margin: 0;
}

.verhaalvoegen {
    display: flex;
    position: relative;
    width: 110px;
    height: 110px;
    border: none;
    background-color: black;
    align-items: center;
    justify-content: center;/*plus icon*/
    /*justify-self: center;*/
   /* border: 1px solid red;;*/
}

.person-icon-verhaal {

    font-size: 140px;
    color: rgb(172, 169, 169);

}

.pluspuntje-home {
    position: absolute;
    bottom: 5px;
    transform: translateX(85%);
    background-color: rgb(172, 169, 169);
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 50%;
    border: 4px solid black;
 
    text-decoration: none;
    color: black;

}
.vogel-pics {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 4px;
    border: 4px solid transparent;
    background:
        linear-gradient(#111, #111) padding-box,
        conic-gradient(
            #ee12e3,
            #ee12e3,
            #fd3503,
            #fae901,
            #fd3503,
            #ee12e3
        ) border-box;

        margin: 0;

}
.names-home {
display: flex;
color: whitesmoke;
/*border: 1px solid red;*/
width: 135px;
height: 35px;
justify-content: center;
align-items: center;


font-size: 13px;
}



@media (max-width: 499px) {
.pluspuntje-home {

   position: absolute;
    bottom: 5px;
    transform: translateX(85%);
    background-color: rgb(172, 169, 169);
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 50%;
    border: 4px solid black;
    align-self: center;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
}
}

/*---------------  END -0---------------------*/
/*
.allContents {
    margin-top: -25px;
}*/

.topstrokecontent {
    display: flex;
width: 100%;
height: 57px;
padding: 0 15px;
gap: 7px;

}

.mini-profilepic-content {
 display: flex;

width: 40px;
height: 40px;
border-radius: 50%;
}
.profilecirkel {
    display: flex;
    align-items: center;
    width: 45px;
    height: 100%;;


}
.mini-profiilename-content {
    width:100%;
       display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: whitesmoke;
}

.profilenam-main {
    height: 100%;
align-content: center;

}

.tripleperiods {
    height: 100%;
    align-content: center;


}

/*-----------  EINDE ---------------------*/

.slide-contents {
    display: flex;
    width: 100%;
      overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
    /*overflow-x: scroll;*/
}


.picscontents {
    width: 100%;
    height: 600px; 
    object-fit: cover;
    scroll-snap-align: start;
     flex-shrink: 0;
}
.slide-contents::-webkit-scrollbar {
  display: none;
}
.slidedots {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 100%;
    color: grey;
     gap: 6px;
    padding: 0 ;
    margin-bottom: -25px;
    margin-top: 10px;

}

.dot {
 width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
}
.dot.active {
  background: rgb(69, 69, 221);
}

video {
    width: 100%;
    height: 600px;
}

.like-comment {
    display: flex;

    background-color: black;
    height: 50px;
    width: 100%;
    font-size: 25px;
    color: whitesmoke;
    padding: 0 15px;
    cursor: pointer;
    justify-content: space-between;
    
}

.first-icons {
    display: flex;
  
    align-self: center;
    gap: 25px;
    font-size: 28px;
}
.bookmark-icon {
    display: flex;
  
  align-self: center;
  font-size: 28px;
}
/*-----------  END. ---------*/





.bijschrift {
    background-color: black;
    width: 100%;
    height: 80px;
    color: whitesmoke;
    padding: 0 15px;
}

.boldtekst {

    font-weight: bold;
    font-size: 15px;
}

.extrasfromuser {
    margin-top: 2px; 
}
.timeago {
    margin-top: 5px;
color: rgb(157, 155, 155);
font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 100;

}


.reel-video {
  width: 315px;
  
}

.reel-reel-home {}

/*
.like-comment:hover {
  transform: scale(1.1);
}*/