body,
html {
  height: 100%;
  margin: 0;
   overflow-y: auto;
  scroll-snap-type: y mandatory; /*dit stond eerst in .play-page*/
}


.play-page {
  min-height: 100dvh;
  height: calc(100dvh - 70px);
 
  
}


.reelContainer-play {
  position: relative;
  height: 100dvh;
height: calc(100dvh - 70px);
  display: flex;
  justify-content: center;
  width: 100%;
   scroll-snap-align: start;
   scroll-snap-stop: always;
  /*scroll-snap-stop: always;*/
  
  margin: 0;
  padding: 0;
}


.reel-play {
    height: 100vh;
    height: calc(100dvh - 70px);

  
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    object-fit: cover; /*dit kan nog weg gehaald worden*/
   
}


.like-buttons-play {
  display: flex;
  flex-direction: column;
  justify-content: end;

  height: 100%;
  width: 100%;
  max-width: 371px;
  color: white;
  position: absolute;
  padding-bottom: 15px; 

}


.play-button-icons {
  display: flex;
  flex-direction: column;
  align-self: end;

  width: 40px;

  font-size: 30px;
  gap: 25px;
  transform: translateY(21px);

}

.driepuntenplay {
  font-size: 20px;
  align-self: center;
  
}




.vogelbutton-play {
  border-radius: 10px;
  width: 33px;
  height: 100%;
  object-fit: cover;
  border: 2px solid white;

}


.minicontentstroke {
  display: flex;
  flex-direction: row;
  width: 330px;

  padding: 0 15px;

}


.minicirkelreeplay {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
 
}


.extradivreplay {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0;
  margin: 0;
}

.mininamereelplay {
  font-size: 16px;
  font-weight: 900;
  padding-left: 3px;
  width: 100%;
  align-self: center;
}

.trackplay {
  display: flex;
  width: max-content;
  text-align: end;

}



.music-wrapper {
  padding: 0;
  margin: 0;
 
  width: 130px;
  font-size: 12px;
  color: whitesmoke;
  padding-left: 3px;

  white-space: nowrap;
  overflow: hidden;
}
.measure-text {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
}
.track {
  display: flex;
  width: max-content;
  animation: none;
 
}

.track span {
  white-space: nowrap;
}

  @keyframes slide {
  from {
    transform: translateX(0);
    
  }

  to {
    transform: translateX(-50%);
  }
}



.musiciconplay {
  margin-right: 3px;
}


.scrollmusic {
  animation: slide 10s linear infinite;

}


.vogelbutton-play1 {
  border-radius: 50%;
  width: 45px;
  height: 100%;
}


.containerinclbutton {
display: flex;
flex-direction: row;

align-items: center;
}

.volgplaybutton{

  height: 25px;
  width: 70px;
  border-radius: 7px;
  background-color: transparent;
  color: white;
  border: 1px solid grey;
}

.lastcontainerreel {
  padding: 0 10px 0 15px;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;

}


.contentnamereplay {
  display: flex;
 font-family: "Inter", sans-serif;

height: 100%;
align-items: center;
font-size: 15px;
}

.playbuttonvogel {
  border: none;

  height: 33px;
  background-color: transparent;
}

@media (max-width: 499px) {
  .reel-play {
    height: 100dvh;
    width: 100%;
    padding: 0;
     margin: 0;
     display: block;

     object-fit: cover;
  }
}