

/*   ---------------   EINDE TOP NAV  -------------*/


.profilepic-and-followers {
      display: flex;
    /*position: block;*/
  
    background-color: black;
    height: 170px;
    width: 100%;

    padding: 0 35px 0 10px;
    
    
   

}
.profile_picture {
    
   height: 100%;
   max-width: 150px;
   width: 100%;
   align-content: end;
   position: relative;

   padding-bottom: 10px;
}


.cloudtext-button {
    color: grey;
    font-size: 15px;
  position: absolute;

  top: 10px;
  left: 50%;
  transform: translateX(-70%);

  padding: 6px 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  background:
  linear-gradient(145deg, rgb(55,55,55), rgba(35, 35, 35, 0.958)),
  radial-gradient(circle at bottom, rgba(241, 240, 240, 0.191), transparent 100%);


box-shadow: 
inset 1px 1px 0 rgba(255,255,255,0.06),
  2px 2px 10px rgba(0,0,0,0.35),
   inset 1px 1px 0 rgba(255, 255, 255, 0.113),
  inset -1px -2px 0 rgba(0, 0, 0, 0.263);
  ;
  


  cursor: pointer;
}

.profile-camera-button {
background-color: rgb(41, 41, 41);
    color: rgb(74, 74, 222);
    font-size: 35px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}



.followers {
    display: flex;
  
    width: 100%;
    align-items: center;
    gap: 20px;

}

.followers-profile {
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: black;
    width: 100%;
    color: whitesmoke;
    border: none;
    gap: 1px;
}

.totaal {
    font-size: 18px;
}

.tekst-profile {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 100;
}

/*----------------*/


.profile-instelling {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
    z-index: 9999;
    flex-direction: column;
    padding: 0 20px;

}

.banners-profile {

    margin: 10px 0 10px 0;

}

  
    /*box-shadow: 
     inset 0.1px 0.1px 0 rgba(254, 250, 250, 0.77),
     inset -0.1px -0.1px 0 rgba(247, 244, 244, 0.825);*/

.banners-button {
  display: flex;
    height: 30px;
    background-color: black;
    color: rgb(164, 162, 162);
    border-radius: 10px;
    align-items: center;
    font-size: 12px;
    border: 0.5px solid rgba(255, 255, 255, 0.368);
    padding: 5px;
    width: 140px;
}



.plus-profile-banner {
    font-size: 20px;
    align-self: center;
}

.profile-3buttons {
    display: flex;
    height: 100%;
    background-color: black;
    color: whitesmoke;
    border: none;
    width: 100%;
    gap: 5px;
}


.button2of3 {
    background-color: rgb(54, 53, 53);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    width: 170px;
    height: 30px;
}
.button1of3 {
    background-color: rgb(54, 53, 53);
    color: whitesmoke;
    width: 35px;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-size: 17px;
}

/*-----------------------------*/




.slidebutton-profile {
    display: flex;
    
    background-color: black;
    width: 100%;
    height: 50px;
   
}

.slidebutton-each {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    color: rgb(164, 162, 162);
    font-size: 25px;
    align-items: center;
    justify-content: center;
     border: none;
}

.slidebutton-each:hover {
    color: whitesmoke;
}

.slidebutton-each2 {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    color: rgb(164, 162, 162);
    font-size: 30px;
    align-items: center;
    justify-content: center;
     border: none;
}

.slidebutton-each2:hover {
    color: whitesmoke;
}



/* -------------- eind -------------------*/


.content-side-profile {
    height: 1000px;
    width: 100%;
    background-color: black;
    
}


